<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
    </div>

    <hr>
      <% if current_user %>
      <div class="row">
        <%= form_for [@product, @review], url: `/products/#{@product.id}/reviews` do |f| %>
          <h2>RATINGS</h2>
          <%= f.text_area :description %>
          <%= f.select :rating, [1, 2, 3, 4, 5]%>
          <%= f.submit "Create" %>
        <% end %>
      </div>
      <% end %>

    <hr>

      <% if @sort.size > 0 %>
      <div class="row">
        <% @sort.each do |review| %>
          <dl class="dl-horizontal">
            <dt>Rating</dt>
            <dd><%= review.rating %></dd>
            <dt>Review</dt>
            <dd><%= review.description %></dd>
          </dl>
          <% if current_user == User.find(review.user_id) %>
            <%= link_to 'Delete', product_review_path(review.product_id, review.id), method: :delete, class: 'btn btn-danger btn-xs' %>
          <% end %>
        <% end %>
      </div>
      <% elsif @sort.size == 0 && !current_user %>
        <h2>NOTHING TO DISPLAY</h2>
      <% else %>
        <h2>PLEASE LEAVE A REVIEW</h2>
      <% end %>

  </article>

</section>

